<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>CMS - Item New</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../index.html">Construction Management System</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="../index.html">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Clients
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../clients/list.html">List</a></li>
                    <li><a href="../clients/new.html">Add New</a></li>
                </ul>
            </li>
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Items
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="list.html">List</a></li>
                    <li><a href="new.html">Add New</a></li>
                    <li><a href="types.html">Types</a></li>
                    <li><a href="newtype.html">New Type</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Jobs
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../jobs/list.html">List</a></li>
                    <li><a href="../jobs/new.html">Add New</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../users/list.html">List</a></li>
                    <li><a href="../users/new.html">Add New</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Warehouses
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../warehouses/list.html">List</a></li>
                    <li><a href="../warehouses/new.html">Add New</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome Matt!</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container" ng-controller="newItem">
    <h2>New Item</h2>
    <form>
        <div class="form-group col-lg-6">
            <label for="type">Type</label>
            <select ng-model="type" class="form-control" id="type" name="type">
                <option disabled selected value>Select a Type</option>
                <option ng-repeat="cit in cits" value="{{cit.id}}">{{cit.name}}</option>
            </select>
        </div>
        <div class="form-group col-lg-6">
            <label for="loc">Location</label>
            <select ng-model="jLoc" class="form-control" id="loc" name="loc">
                <option disabled selected value>Select a Location</option>
                <option ng-repeat="cj in cjs" value="{{cj.id}}">{{cj.name}}</option>
            </select>
        </div>
        <div class="form-group col-lg-6">
            <label for="qty">Quantity</label>
            <input ng-model="qty" type="number" class="form-control" id="qty" name="qty">
        </div>
        <div class="form-group col-lg-6">
            <label for="status">Status</label>
            <select ng-model="status" class="form-control" id="status" name="status">
                <option disabled selected value>Select a Status</option>
                <option>Pending Delivery</option>
                <option>On Site</option>
                <option>Used</option>
            </select>
        </div>
        <div class="col-lg-12">
            <button ng-click="submitItem()" type="button" class="btn btn-default">Submit</button>
        </div>
    </form>
    <div class="row">

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/vendor/angular.js" type="text/javascript"></script>
<script src="../js/app.js" type="text/javascript"></script>
</body>
</html>
